<footer class="container d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <p class="col-md-4 mb-0">© 2023 Le quai antique</p>

    <!--Horaires d'ouvertures-->
    <section class="ouverture col-md-4">
        <h2>Nos </br> horaires d'ouvertures</h2>

        <div class="horaires">
            
        </div>
    </section>


    <a href="/" class="col-md-4 d-flex align-items-center justify-content-center mb-3 mb-md-0 me-md-auto link-body-emphasis text-decoration-none">
        <img src="assets/img/logo2.png" alt="logo" width="200rem">
    </a>

    
    
</footer>

