<!-- header -->
<div class="container">
    <header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <ul class="nav nav-pills col-12 col-md-auto mb-2 justify-content-center mb-md-0">
                <li class="nav-item">
                    <a href="{{ path('app_accueil')}}" class="nav-link px-2">Accueil</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_menu')}}" class="nav-link px-2">La carte</a>
                </li>
                <li class="nav-item">
                    <a href="{{ path('app_contact')}}" class="nav-link px-2">Contact</a>
                </li>
        </ul>

        <div class="col-md-3 mb-2 mb-md-0">
            <a href="/" class="d-inline-flex link-body-emphasis text-decoration-none">
                <img src="assets/img/logo.png" alt="Logo" width="200" height="200">
            </a>
        </div>

        <div class="col-md-3 text-end">
            <button type="button" class="btn btn-outline-primary me-2">S'inscrire</button>
            <button type="button" class="btn btn-primary">Se connecter</button>
        </div>
    </header>
</div> 